*{
    padding: 0;
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-size: 100px;
}
.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /*NO se va a comprimir el video, va a mostrar solo el contenido*/
    position: fixed;
}
.header {
    height: 100vh;
    position: relative;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}